{% extends 'base.html' %}
{% block content %}
<h1> Edit Item </h1>

<form action="{{url_for('editItem', item_id = item.id)}}" method = 'POST'>
    <p>Name:</p>
    <input type='text' size='30' name='name' value='{{item.name}}'><br>
    <p>Price:</p>
    <input type='text' size='30' name='price' value='{{item.price}}'><br>
    <p>Category:</p>
    <input type='text' size='30' name='category' value='{{item.category}}'><br>
    <p>Description:</p>
    <input type='text' size='30' name='description' value='{{item.description}}'><br><br>
    <input type='submit' name='task' value='Submit'>
</form>

<form action="{{url_for('viewCatalogItem', category = item.catgory, item_id = item.id)}}">
    <input type='submit' name='task' value='Cancel'>
</form>
{% endblock %}