{% extends 'base.html' %}
{% block content %}

<h1> New Menu Item </h1>

<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>
<p>Name:</p>
<input type='text' size='30' name='name'><br>
<p>Price:</p>
<input type='text' size='30' name='price'><br>
<p>Course:</p>
<input type='text' size='30' name='course'><br>
<p>Description:</p>
<input type='text' size='30' name='description'><br><br>
<input type='submit' value='Create'>
<input type='submit' value='Cancel'>
</form>

{% endblock %}